:root {
  --white-background-color: #ffffff;
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --text: #434455;
  --light: #f4f4fd;
  --accent: #e7e9fc;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text);
  background-color: var(--white-background-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  display: block;
}

.section-list {
  display: flex;
  gap: 24px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*-------------header-------------*/

.header {
  border-bottom: 1px solid var(--accent);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.header-logo.link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);
  margin-right: 76px;
}
.header-logo-span {
  color: var(--dark);
}

.menu {
  display: flex;
  align-items: center;
  gap: 40px;
}

.menu.link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark);
  padding: 24px 0;
}
.menu.link:hover,
.menu.link:focus,
.menu.link:active {
  color: var(--pressed-state);
}

.address-list {
  display: flex;
  gap: 40px;
}

.address {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  color: var(--text);
  margin-left: auto;
}
.address.link:hover,
.address.link:focus {
  color: var(--pressed-state);
}

/*-------------main-section-one-------------*/

.section.section-one {
  background-color: var(--dark);
  padding: 188px 0;
}

.section-one-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white-background-color);
  max-width: 496px;
  margin: 0 auto;
  padding-bottom: 48px;
}

.section-one-button {
  display: block;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--white-background-color);
  background-color: var(--primary-brand);
  min-width: 169px;
  margin: 0 auto;
  height: 56px;
  border-radius: 4px;
  border: none;
}
.section-one-button:hover,
.section-one-button:focus {
  background-color: var(--pressed-state);
}

/*-------------main-section-two-------------*/

.section-two-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
  margin-bottom: 8px;
}

.section-two-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}

/*-------------main-section-three-------------*/

.section-three-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--dark);
  margin-bottom: 72px;
}

/*-------------main-section-four-------------*/

.section.section-four {
  background-color: var(--light);
}

.section-four-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark);
  margin-bottom: 72px;
}

.section-four-item {
  background-color: var(--white-background-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.section-four-container {
  padding: 32px 16px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.section-four-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
  text-align: center;
  margin-bottom: 8px;
}

.section-four-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

/*-------------footer-------------*/

.footer {
  background-color: var(--dark);
  padding: 100px 0;
}

.footer-logo.link {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);
  margin-bottom: 16px;
}
.footer-logo-span {
  color: var(--light);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light);
  max-width: 264px;
}

/*--------------portfolio-main-section-------------*/

.section.portfolio {
  padding: 96px 0 120px 0;
}

.portfolio-button-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}

.portfolio-button {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--light);
  color: var(--primary-brand);
  cursor: pointer;
  height: 48px;
  padding: 12px 24px;
  border: 1px solid var(--accent);
  border-radius: 4px;
}
.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--pressed-state);
  color: var(--white-background-color);
  border: 1px solid transparent;
}

.portfolio-card-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-card-container {
  padding: 32px 16px;
  border: 1px solid var(--accent);
  border-top: none;
}

.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
  margin-bottom: 8px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}

/*--------------header-and-footer-in-index-------------*/
